In [3]:
import pandas as pd
import requests, json
from sqlalchemy import create_engine
from pandas.io.json import json_normalize

In [4]:
csv_file = "./Resources/scryfall-default-cards.csv"
scryfall_df = pd.read_csv(csv_file,low_memory=False,dtype='object')

scryfall_df.columns
scryfall_df.head()

,all_parts,arena_id,artist,border_color,card_faces,cmc,collector_number,color_identity,color_indicator,colors,...,set,set_name,set_search_uri,set_uri,story_spotlight,tcgplayer_id,toughness,type_line,uri,watermark
0,NaN,NaN,Richard Kane Ferguson,black,NaN,2,8,[],NaN,[],...,ss2,Signature Spellbook: Gideon,https://api.scryfall.com/cards/search?order=se...,https://api.scryfall.com/sets/9ae53f04-9cbb-45...,FALSE,188990,NaN,Legendary Artifact — Equipment,https://api.scryfall.com/cards/9dccac19-a915-4...,NaN
1,NaN,NaN,Matt Stewart,black,NaN,4,7,['W'],NaN,['W'],...,ss2,Signature Spellbook: Gideon,https://api.scryfall.com/cards/search?order=se...,https://api.scryfall.com/sets/9ae53f04-9cbb-45...,FALSE,188997,NaN,Enchantment,https://api.scryfall.com/cards/9aef2a48-07bb-4...,NaN
2,NaN,NaN,Ekaterina Burmak,black,NaN,6,6,['W'],NaN,['W'],...,ss2,Signature Spellbook: Gideon,https://api.scryfall.com/cards/search?order=se...,https://api.scryfall.com/sets/9ae53f04-9cbb-45...,FALSE,188996,NaN,Enchantment,https://api.scryfall.com/cards/f8f4c56b-76d1-4...,NaN
3,NaN,NaN,Zack Stella,black,NaN,3,5,['W'],NaN,['W'],...,ss2,Signature Spellbook: Gideon,https://api.scryfall.com/cards/search?order=se...,https://api.scryfall.com/sets/9ae53f04-9cbb-45...,FALSE,188995,NaN,Enchantment — Aura,https://api.scryfall.com/cards/27946cc0-8278-4...,NaN
4,NaN,NaN,Jason Rainville,black,NaN,2,4,['W'],NaN,['W'],...,ss2,Signature Spellbook: Gideon,https://api.scryfall.com/cards/search?order=se...,https://api.scryfall.com/sets/9ae53f04-9cbb-45...,FALSE,188994,NaN,Enchantment,https://api.scryfall.com/cards/bd29035d-819f-4...,NaN

In [5]:
core_card_objects_df = scryfall_df[['oracle_id', 'name']].copy()
core_card_objects_df.head()
core_card_objects_df_unique_Catalog=core_card_objects_df.drop_duplicates(['oracle_id'], keep='last')
core_card_objects_df_unique_Catalog.head()

                               oracle_id                                name
8   9b7870df-6bca-499f-bc6e-e57f2ddfe640                     Cabal Therapist
9   8b0e2382-dd91-42e6-aba3-5e8a15418a49                Serra the Benevolent
11  accd547d-b603-4a5f-8a7e-0e5d1a2ef5f8  Nissa, Who Shakes the World Emblem
13  fe640667-a015-4b42-83a0-6522dad5f898               Voja, Friend to Elves
14  40eb1ffc-edab-4500-936a-2eac96a18172                             Citizen

In [6]:
set_description_df =  scryfall_df[['oracle_id', 'set_name', 'rarity', 'reprint', 'promo','tcgplayer_id']].copy()
set_description_df.head()
set_description_df_Products=set_description_df.rename(index=str, columns={"tcgplayer_id": "productid"})
set_description_df_Products.head()
set_description_df_Products_nonull=set_description_df_Products.dropna(axis=0, subset=['productid'])
set_description_df_Products_nonull
core_card_objects_df_unique_product=set_description_df_Products_nonull.drop_duplicates(['productid'], keep='last')
core_card_objects_df_unique_product.head()

,oracle_id,set_name,rarity,reprint,promo,productid
0,dca51281-fb21-45b6-beb4-1f13397caee2,Signature Spellbook: Gideon,rare,TRUE,FALSE,188990
1,99f9a4c8-b59f-4a41-8577-6c1e4684b240,Signature Spellbook: Gideon,rare,TRUE,FALSE,188997
2,fc299c1c-50f3-492a-b6b8-a3664bb72ab7,Signature Spellbook: Gideon,rare,TRUE,FALSE,188996
3,79085dea-8daa-41c0-a975-61e3e6da2e26,Signature Spellbook: Gideon,rare,TRUE,FALSE,188995
4,087f9ad7-e74f-40e2-8102-1ed2925d0418,Signature Spellbook: Gideon,rare,TRUE,FALSE,188994

In [7]:
product_id_df = scryfall_df[["id", "tcgplayer_id"]].copy()
product_id_df.head()

                                     id tcgplayer_id
0  9dccac19-a915-4189-beb8-5d279a15a54e       188990
1  9aef2a48-07bb-44e4-943f-f62fdc384a81       188997
2  f8f4c56b-76d1-4c1c-a9d6-383278de272d       188996
3  27946cc0-8278-4b45-8239-c22b5a57c40f       188995
4  bd29035d-819f-43c4-a8fb-d056b1ccfe16       188994

In [8]:
new_product_id_df = scryfall_df[["tcgplayer_id"]].copy()
new_product_id_df
new_product_id_df_clean=new_product_id_df.dropna(axis='rows')
new_product_id_df_clean.head()

  tcgplayer_id
0       188990
1       188997
2       188996
3       188995
4       188994

In [9]:

rds_connection_string = "root:password123@127.0.0.1/mtg_etl?charset=utf8"
engine = create_engine(f'mysql://{rds_connection_string}')

In [78]:
engine.table_names()

['core_card_objects', 'set_description']

In [79]:
core_card_objects_df_unique_Catalog.to_sql(name='core_card_objects', con=engine, if_exists='append', index=False)

In [80]:
core_card_objects_df_unique_product.to_sql(name='set_description', con=engine, if_exists='append', index=False)

In [81]:
pd.read_sql_query('select * from core_card_objects', con=engine).head()

                              oracle_id                 name
0  0004ebd0-dfd6-4276-b4a6-de0003e94237           Static Orb
1  0006faf6-7a61-426c-9034-579f2cfcfa83  Sensory Deprivation
2  000d5588-5a4c-434e-988d-396632ade42c           Storm Crow
3  000e5d65-96c3-498b-bd01-72b1a1991850       Walking Sponge
4  0012bc78-e69d-4a67-a302-e5fe0dfd4407       Ravnica at War

In [82]:
pd.read_sql_query('select * from set_description', con=engine).head()

,productid,oracle_id,set_name,rarity,reprint,promo
0,86,10733767-1c97-4e2e-b02b-54bf346f6583,Portal Second Age,uncommon,FALSE,FALSE
1,87,7744bae4-a8b7-44a5-9b4c-0048ad4cc448,Portal Second Age,uncommon,TRUE,FALSE
2,88,f8273146-f2e5-40ec-ba96-c0a4192caec8,Portal Second Age,uncommon,FALSE,FALSE
3,89,69c4429e-a8a4-49c3-bb43-9dce4cc6b90a,Portal Second Age,common,FALSE,FALSE
4,90,61daa88d-fca4-4019-97f3-568346157ba6,Portal Second Age,common,FALSE,FALSE

In [1]:
import requests
list_pd = new_product_id_df_clean['tcgplayer_id'].tolist()  
#list_pd=[137942,188990,188992]
list_pd_mtg=[]
for i in list_pd:
    url = "http://api.tcgplayer.com/v1.27.0/pricing/product/"+str(i)
    #print(url)

    querystring = {"getExtendedFields":"true"}

    payload = ""
    headers = {
    'i7gKZOKRuWDlLgGgH-jKb6NA90bJDqDKHsD0b8U3cUEFHOdl9C-jvusaUOjV2W8YgtUStfzOqDawQ_s7zkkXsDi8BQIkh9RpU-u1R3AcfKo1X_UKtToSGqvMuW8DGXgk3Mf6TXsr4cyAnmeRSXBjqxVin_oZD3BqwITmYccqxWUymaLFxQsfEO5FTGRD_v9f7KFQ9G5YB54c556SUtPGrUZtFaxdcFN8-mswj7tlDc-5Chb44_xwJFIIKnI-MozW_rnP-Zm6StgYdvzVa8SD5oeIxuRG4fwtX8baQR8cPQcZ1soyJvLWljQQLt58uOE-8tHSSA': "",
    'Authorization': "Bearer i7gKZOKRuWDlLgGgH-jKb6NA90bJDqDKHsD0b8U3cUEFHOdl9C-jvusaUOjV2W8YgtUStfzOqDawQ_s7zkkXsDi8BQIkh9RpU-u1R3AcfKo1X_UKtToSGqvMuW8DGXgk3Mf6TXsr4cyAnmeRSXBjqxVin_oZD3BqwITmYccqxWUymaLFxQsfEO5FTGRD_v9f7KFQ9G5YB54c556SUtPGrUZtFaxdcFN8-mswj7tlDc-5Chb44_xwJFIIKnI-MozW_rnP-Zm6StgYdvzVa8SD5oeIxuRG4fwtX8baQR8cPQcZ1soyJvLWljQQLt58uOE-8tHSSA",
    'cache-control': "no-cache",
    'Postman-Token': "eeabe596-15ee-43a0-86e0-cb4a7629c371"
    }

    mtg_data = requests.request("GET", url, data=payload, headers=headers, params=querystring).json()
    print(mtg_data)
  #  mtg_data = requests.get(city_url).json()
     # Parse out 
    mtg_productId = mtg_data["results"][0]["productId"]
    mtg_lowPrice = mtg_data["results"][0]["lowPrice"]
    mtg_midPrice = mtg_data["results"][0]["midPrice"]
    mtg_highPrice = mtg_data["results"][0]["highPrice"]
    mtg_marketPrice = mtg_data["results"][0]["marketPrice"]
    mtg_directLowPrice = mtg_data["results"][0]["directLowPrice"]
    mtg_subTypeName = mtg_data["results"][0]["subTypeName"]
       

        # Append the price information into  list
    list_pd_mtg.append({"productId": mtg_productId,
                          "lowprice": mtg_lowPrice, 
                          "midprice": mtg_midPrice, 
                          "highprice": mtg_highPrice,
                          "marketPrice":mtg_marketPrice,
                          "directLowPrice": mtg_directLowPrice,
                          "mtg_subTypeName": mtg_subTypeName})

In [70]:
df=pd.DataFrame(list_pd_mtg)
df.to_csv('prices_1.csv')

In [10]:

csv_file = "prices.csv"
Prices_df = pd.read_csv(csv_file,low_memory=False,dtype='object')

Prices_df.columns
Prices_df.head()

,Unnamed: 0,directLowPrice,highprice,lowprice,marketPrice,midprice,mtg_subTypeName,productId
0,0,NaN,NaN,NaN,NaN,NaN,Foil,188990
1,1,NaN,NaN,NaN,NaN,NaN,Foil,188997
2,2,NaN,NaN,NaN,NaN,NaN,Normal,188996
3,3,NaN,NaN,NaN,NaN,NaN,Foil,188995
4,4,NaN,NaN,NaN,NaN,NaN,Normal,188994

In [11]:
Prices_df_rename=Prices_df.rename(index=str, columns={"Unnamed: 0": "id"})
Prices_df_rename.head()

,id,directLowPrice,highprice,lowprice,marketPrice,midprice,mtg_subTypeName,productId
0,0,NaN,NaN,NaN,NaN,NaN,Foil,188990
1,1,NaN,NaN,NaN,NaN,NaN,Foil,188997
2,2,NaN,NaN,NaN,NaN,NaN,Normal,188996
3,3,NaN,NaN,NaN,NaN,NaN,Foil,188995
4,4,NaN,NaN,NaN,NaN,NaN,Normal,188994

In [14]:
Prices_df_rename.to_sql(name='price', con=engine, if_exists='append', index=False)

In [16]:
new_price_df_clean=Prices_df_rename.dropna(axis='rows')
new_price_df_clean.head()

,id,directLowPrice,highprice,lowprice,marketPrice,midprice,mtg_subTypeName,productId
20,20,0.07,0.99,0.05,0.12,0.14,Normal,187137
21,21,0.08,150.0,0.05,0.11,0.15,Normal,188306
22,22,0.07,0.99,0.05,0.12,0.14,Normal,187137
23,23,0.06,0.99,0.05,0.1,0.14,Normal,187135
24,24,0.06,0.99,0.05,0.1,0.14,Normal,187135